.bt-product-item {
  border-radius: 5px;
  border-bottom: none;
  height: 306px;
  padding-bottom: $spacing-md;
  margin-bottom: $spacing-md;
  a {
    text-decoration: none;
    color: $text-color;
  }
  &:hover {
    .bt-product-title__name {
      color: $blue;
    }
  }
  @include media-breakpoint-up(lg) {
    &:hover {
      -webkit-box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 1px 1px 0 rgba(16, 22, 26, 0.1);
      box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 1px 1px 0 rgba(16, 22, 26, 0.1);
    }
  }
  .bt-product-title {
    margin-bottom: 10px;
  }
  .bt-product-title__name {
    @include text-overflow(16px , 2);
  }
  .bt-product-price__web {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
  .bt-product-image {
    img {
      width: 160px;
      height: 160px;
      margin-top: $spacing-md;
      margin-bottom: $spacing-md;
    }
  }
  .bt-product-price {
    height: 40px;
  }
}
@include media-breakpoint-down(md) {
  .bt-promo-section {
    .bt-product-item {
      margin-bottom: 0;
      display: inline-block;
      float: none;
      width: 200px;
      padding-bottom: 0;
      vertical-align: top;
      flex: none;
      height: auto;
    }
  }
  .bt-product-item {
    .bt-product-image {
      img {
        width: 128px;
        height: 128px;
        margin-top: $spacing-sm;
        margin-bottom: $spacing-sm;
      }
    }
  }
}