$brand-primary: $blue;
$brand-success: $green;
$brand-warning: $yellow;
$text-color: $carbon-dark;
$link-hover-color: $brand-primary !default;
$grid-gutter-width: $spacing-lg;
$container-large-desktop: (1168px + $grid-gutter-width) !default;
$navbar-height: 64px !default;
$navbar-inverse-bg: $bt-bg-dark;
$font-family-base: $font-base;
$btn-default-color: $text-color;
$btn-default-bg: $slate-lighter;
$btn-default-border: $slate-dark;