body {
  font-size: 14px;
}
.bt-page {
  background: $slate-lightest;
}
.bt-section {
  padding-top: 40px;
  padding-bottom: 32px;
}
.container-fluid {
  max-width: 1440px;
}
@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1140px;
  }
}
@media (min-width: 1441px) {
  .container-fluid {
    max-width: 1440px;
  }
}
@include media-breakpoint-down(md) {
  .bt-section {
    padding-top: 24px;
    padding-bottom: 16px;
  }
}