.bt-catalog-banner {
  overflow: hidden;
  text-align: center;
  img {
    width: auto;
    height: 100%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  @media (min-width: 992px) {
    height: auto;
    position: relative;
    img {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
  }
  @media (max-width: 991.98px) { 
    height: 240px;
    position: relative;
  }
  @media (max-width: 600px) { 
    height: 155px;
  }
  @media (max-width: 480px) { 
    height: 130px;
  }
}