.bt-promo-section {
  margin-bottom: $spacing-lg;
  padding-top: $spacing-md;
  .bt-promo-section__title {
    margin-bottom: 24px;
    margin-top: $spacing-md;
  }
  .bt-product-item {
    a {
      display: block;
      padding-left: $spacing-md;
      padding-right: $spacing-md;
    }
  }
  @include media-breakpoint-down(md) {
    @include no-gutter();
    margin-bottom: $spacing-md;
    .bt-promo-section__wrapper {
      @include display-scroll();
      .row {
        display: block;
      }
    }
    .bt-promo-section__title {
      padding-left: 16px;
    }
  }
  @include media-breakpoint-down(sm) {
    .bt-promo-section__title {
      font-size: 20px;
      margin-bottom: $spacing-sm;
    }
  }
}