.bt-promo-sidebar {
  background-repeat: repeat-x;
  background-image: linear-gradient(-135deg, $slate-lightest, $white);
  padding-right: $spacing-md;
  padding-bottom: $spacing-lg;
  overflow: auto;
  height: 100%;
  border-bottom: 1px solid $slate;
  .bt-promo-filter {
    padding-top: $spacing-lg;
    .bt-promo-filter__item {
      margin-bottom: $spacing-sm;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        display: block;
      }
    }
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}