.bt-catalog-header {
  padding-top: $spacing-md;
  padding-bottom: $spacing-md;
  border-top: 1px solid $slate;
  border-bottom: 1px solid $slate;
  position: relative;
  z-index: 2;
  .bt-catalog-header__title {
    margin-top: 0;
    margin-bottom: 0;
  }
  .bt-catalog-header__description {
    margin: 0;
  }
  .bt-catalog-header__tnc {
    line-height: $spacing-lg;
    color: $blue;
  }
  @include media-breakpoint-down(md) {
    text-align: center;
    border-top: 0;
    max-width: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    .bt-catalog-header__title {
      font-size: 22px;
    }
    .bt-catalog-header__description {
      margin-bottom: $spacing-sm;
      margin-top: $spacing-sm;
    }
    .bt-catalog-header__tnc {
      display: block;
    }
  }
  @include media-breakpoint-up(lg) {
    .bt-catalog-header__description {
      display: inline-block;
      line-height: $spacing-lg;
    }
    .bt-catalog-header__tnc {
      float: right;
    }
  }
}