// STYLE PLUGINS
@import "./node_modules/bootstrap/scss/bootstrap.scss";

// STYLE ATOMS
@import "./src/components/atoms/catalog-banner/catalog-banner.scss";
@import "./src/components/atoms/product-image/product-image.scss";
@import "./src/components/atoms/product-name/product-name.scss";
@import "./src/components/atoms/product-price/product-price.scss";

// STYLE MOLECULES
@import "./src/components/molecules/catalog-header/catalog-header.scss";
@import "./src/components/molecules/product-item/product-item.scss";

// STYLE ORGANISMS
@import "./src/components/organisms/promo-filter/product-filter.scss";

// STYLE TEMPLATES
@import "./src/components/templates/promo-section/promo-section.scss";

// STYLE LAYOUT
@import "./src/layouts/layouts.scss";


body {
  font-family: -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #363637;
  background-color: #fff;
}

.bt-typo-mono { 
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; 
}
.bt-typo-caption {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.bt-typo-body {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.bt-typo-subheading {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}
.bt-typo-heading {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.bt-typo-displaysmall {
  font-size: 20px;
  line-height: 24px;
}
.bt-typo-displaymedium {
  font-size: 26px;
  line-height: 32px;
}
.bt-typo-displaylarge {
  font-size: 28px;
  line-height: 32px;
}
.bt-typo-displayxlarge {
  font-size: 42px;
  line-height: 44px;
}